.App2 {
    text-align: center;
  }
  
  .App2-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App2-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .App2-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App2-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  .openc{
    position: fixed;
    text-align:justify;
    background-color: #282c34;
    display: flex;
    align-items: center;
    font-size: calc(10px + 2vmin);
    color: white;
    width: 300px;
    position: relative;
    left:500px; top:20px;
    
  }

  .metac{
    position: fixed;
    text-align:justify;
    background-color: white;
    display: flex;
    align-items: center;
    font-size: calc(10px + 2vmin);
    color: black;
    width: 300px;
    position: relative;
    left:500px; top:20px;

  }

  .imgo{
    max-width: 40px;
    border-radius: 50%;
    overflow: hidden;
    float:none;
    
  }
  .imgm{
    max-width: 40px;
    border-radius: 50%;
    float:none;
    overflow: hidden;
}  